<header class='row'>
  <div class='large-12 columns'>
    <h1>
      <a href='<%=url_for(config.root)%>'>Bruno Luiz Silva</a>
    </h1>
    <h2>
      Getting ideas out of scratch
    </h2>
  </div>
</header>
