<header class='row'>
  <div class='large-12 columns'>
    <h1>
      <a href='<%=url_for(config.root)%>'>Bruno Luiz Silva</a>
      <div class='icons'>
        <i class="fa fa-wpexplorer entrepreneurship" aria-hidden="true"></i>
        <i class='fa fa-microchip embedded' aria-hidden='true'></i>
        <i class='fa fa-window-restore dev' aria-hidden='true'></i>
      </div>
    </h1>
    <h2>
      Getting ideas out of scratch
    </h2>
  </div>
</header>
