<div class='row column content-block'>
  <h2><%= __(page.category) %> <a href='<%=url_for(config.root)%>'>(return to home)</a></h2>
  <section class='row large-up-3 small-up-1 medium-up-2'>
    <%- partial('_partial/projects/grid', { posts: page.posts })%>
  </section>
</div>

<% if (page.total > 1){ %>
  <div class="pagination-centered">
    <nav class="pagination">
      <%- paginator({prev_next: false}) %>
    </nav>
  </div>
<% } %>
