@charset 'utf-8';
@import '../../node_modules/foundation-sites/scss/foundation';

// @include foundation-everything;
@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-pagination;

@import '_partial/header';
@import '_partial/thumbs';
@import '_partial/contentblocks';
@import '_partial/project';
@import 'variables';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';
@import 'https://fonts.googleapis.com/css?family=Assistant:300,400,700|Catamaran:300,400,700';

html, body {
  font-family: 'Catamaran', sans-serif;
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  // font-family: 'Catamaran', sans-serif;
  font-family: 'Assistant', sans-serif;
  font-weight: 300;
}

p {
  line-height: 1.75rem;
  font-weight: 300;
  font-size: 110%;
}

.default-button {
  @extend .button;
  @extend .hollow;
  @extend .secondary;

  border-radius: 4px;
}

[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea {
  border-radius: 4px;
}

nav.pagination {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 2rem;
  a, span, .page-number.current {
    font-size: 150%;
    padding: .25rem 1rem .25rem 1rem;
    display: inline-block;
    background: rgb(250,250,250);
  }
  span, .page-number.current {
    background: rgb(33,33,33);
  }
}

.colourset-0 {
  background: $colour-1;
}
.colourset-1 {
  background: $colour-2;
}
.colourset-2 {
  background: $colour-3;
}
.colourset-3 {
  background: $colour-4;
}
.colourset-4 {
  background: $colour-5;
}
.colourset-5 {
  background: $colour-6;
}
