@charset 'utf-8';
@import "../../node_modules/foundation-sites/scss/foundation";

@include foundation-everything;
// @include foundation-global-styles;
// @include foundation-grid;
// @include foundation-typography;

@import "_partial/header";
@import "_partial/contentblocks";
@import "_partial/thumbs";
@import "_partial/landing";
@import "_partial/project";

html, body{
  font-family: 'Catamaran', sans-serif;
  // font-family: 'Assistant', sans-serif;
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  // font-family: 'Catamaran', sans-serif;
  font-family: 'Assistant', sans-serif;
  font-weight: 300;
}

p {
  line-height: 30px;
  font-size: 110%;
}

.colourset-0 {
  background: #f2849e;
}
.colourset-1 {
  background: #7ecaf6
}
.colourset-2 {
  background: #7bd0c1;
}
.colourset-3 {
  background: #c75b9b;
}
.colourset-4 {
  background: #333333;
}
.colourset-5 {
  background: #8499e7;
}
