.content-block {
  $base-color: rgb(33,33,33);
  margin-top: 3rem;

  h2 {
    @extend .row.column;

    color: $base-color;
    font-size: 200%;
    margin-left: 0;
    display: inline-block;
    padding-bottom: .4rem;
    padding-left: 0;
    padding-right: 1rem;
    border-bottom: 2px solid lighten($base-color, 50%);
    margin-bottom: 1.25rem;

    a {
      color: lighten($base-color, 50%);
      font-size: 50%;

      &:hover{
        color: darken($header-font-color, 20%);
        border-bottom: 1px dotted darken($header-font-color, 20%);
      }
    }
  }

  section {
    @extend .row.column;

    // Only on Big configs
    @media screen and (min-width: 64em) {
      // padding-left: 2rem;
    }
  }

  strong {
    border-bottom: 1px dotted rgb(140,140,140);
  }

  .see-more {
    margin-top: 0rem;

    a {
      // text-transform: uppercase;
      // letter-spacing: 1px;
      // font-weight: 700;
      // background: #333;
      // color: #fff;
    }
  }

  a {
    color: $base-color;
    font-weight: 400;
  }

  .medias {
    font-size: 110%;
    a {
      margin-right: .75rem;
      &:hover {
        border-bottom: 1px dotted rgb(140,140,140);
      }
    }
  }
}
