.landing-section {
  $base-color: rgb(33,33,33);
  margin-bottom: 2rem;

  h2 {
    color: $base-color;
    font-size: 200%;
    margin-left: 0;
    display: inline-block;
    padding-bottom: .4rem;
    padding-left: 0;
    padding-right: 1rem;
    border-bottom: 2px solid lighten($base-color, 50%);
    margin-bottom: 2rem;
  }

  .section-content {
    padding-left: 2rem;
  }

  strong {
    border-bottom: 1px dotted rgb(140,140,140);
  }
  .items {
    margin-left: 0;
    .column {
      padding: 0 2rem 2rem 0;
    }
    .content {
      border-radius: 5px;
      position: relative;
      height: 350px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      a {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        color: rgb(255, 255, 255);

        .title {
          font-family: 'Assistant', sans-serif;
          font-size: 150%;
          font-weight: 700;
          letter-spacing: 6px;
          border-radius: 4px;
          position: absolute;
          bottom: 1rem;
          right: -.5rem;
          padding: 0 .6rem 0 1rem;
          background: rgba(0,0,0,1);
        }
      }
    }
  }

  .see-more {
    text-align: left;
    a {
      border-radius: 4px;
    }
  }
}
