.project {
  $skill-base-colour: rgb(33,33,33);

  h3 {
    @extend .row.column;

    font-size: 150%;
  }

  .date {
    @extend .row.column;

    font-size: 100%;
    font-weight: 300;
  }

  p {
    margin-top: 0;
    line-height: 1.75rem;
  }

  ul {
    @extend .row.column;
    margin-top: 1rem;

    li {
      list-style: none;
      display: inline-block;
      border: 1px solid $skill-base-colour;
      padding: .4rem .75rem;
      margin-bottom: .25rem;
    }
  }
}
