// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

header {
  text-align: left;
  padding-top: 2rem;
  // padding-bottom: 2rem;
  // padding-left: 2rem;
  margin-bottom: 1rem;

  h1 {
    margin: 0;
    margin-bottom: 4px;
    color: $header-font-color;
    font-size: 350%;

    a {
      color: $header-font-color;

      &:hover{
        color: lighten($header-font-color, 20%);
        border-bottom: 1px dotted lighten($header-font-color, 50%);
      }
    }
  }

  h2 {
    margin: 0rem;
    font-size: 125%;
    color: lighten($header-font-color, 25%);
  }

}
