// -----------------------------------------------------------------------------
// When having several themes, this file contains everything related to the
// default one.
// -----------------------------------------------------------------------------
.colorset-0 {
  background: $color-1;
}
.colorset-1 {
  background: $color-2;
}
.colorset-2 {
  background: $color-3;
}
.colorset-3 {
  background: $color-4;
}
.colorset-4 {
  background: $color-5;
}
.colorset-5 {
  background: $color-6;
}

.engineering { color: $color-6; }
.design { color: $color-1}
.embedded { color: $color-3; }
.entrepreneurship { color: $color-2; }
.dev { color: $color-4; }
