// -----------------------------------------------------------------------------
// When having several themes, this file contains everything related to the
// default one.
// -----------------------------------------------------------------------------
.colourset-0 {
  background: $colour-1;
}
.colourset-1 {
  background: $colour-2;
}
.colourset-2 {
  background: $colour-3;
}
.colourset-3 {
  background: $colour-4;
}
.colourset-4 {
  background: $colour-5;
}
.colourset-5 {
  background: $colour-6;
}

.engineering { color: $colour-6; }
.design { color: $colour-1}
.embedded { color: $colour-3; }
.entrepreneurship { color: $colour-2; }
.dev { color: $colour-4; }
