// -----------------------------------------------------------------------------
// When having several themes, this file contains everything related to the
// default one.
// -----------------------------------------------------------------------------
.colourset-0 {
  background: $colour-1;
}
.colourset-1 {
  background: $colour-2;
}
.colourset-2 {
  background: $colour-3;
}
.colourset-3 {
  background: $colour-4;
}
.colourset-4 {
  background: $colour-5;
}
.colourset-5 {
  background: $colour-6;
}
