<p>Well, as you already may know, my name is Bruno Luiz da Silva. I am enrolled on <strong class='engineering'>electrical engineering</strong> BUT I have interests in many fields besides electronics which is hard to explain to people... Basically, is because I like to explore things, learn how them work and, thanks to it, being able to have different ideas and perceive the world differently.

<p>I <strong class='design'>love design</strong> and understand it's importance for the user experience in a project. I am really <i class='fa fa-window-restore dev' aria-hidden='true'></i> <strong class='dev'>pationate with web development</strong> (back and frontend), specially because it is really easy to build a software using web technologies and well, <i class="fa fa-wpexplorer entrepreneurship" aria-hidden="true"></i> <strong class='entrepreneurship'>entrepreneurship</strong> is on my veins, so it is easier to prototype concepts. But, what I mostly worked, in the last years, was <i class='fa fa-microchip embedded' aria-hidden='true'></i> <strong class='embedded'>embedded systems projects</strong> - C/C++ and, recently, Java (don't kill me for that, ok?).</p>

<p>You may be asking yourself: but Bruno (yep, you can call me by the first name), what do you know about those fields? Well, my beloved future client, in this page you can check what I have been working on. Those projects which were not confidential or private, I published on my Github (some are not that organized, but blame the baby-university-learner Bruno).</p>

<p>Now, if you are convinced that we, together, can get your idea out of the scratch, contact me and let's make this idea change the world.</p>

<p>Cheers ;)</p>

<div class='medias'>
  <a href='http://github.com/brnluiz/'><i class="fa fa-github" aria-hidden="true"></i> Github (public codes)</a>
  <a href='http://uk.linkedin.com/in/brnluiz'><i class="fa fa-linkedin" aria-hidden="true"></i> LinkedIn</a>
  <a href='skype:brnluiz?chat'><i class="fa fa-skype" aria-hidden="true"></i> Skype</a>
  <a href='mailto:contact@brunoluiz.net'><i class="fa fa-envelope-o" aria-hidden="true"></i> E-mail</a>
</div>
