<div class='row column content-block'>
  <h2><%=title%></h2>

  <% if (!static) { %>
  <%- partial('_partial/landing/section-posts', {
    category: id,
    limit: limit
  }) %>

  <% } else { %>
  <section>
    <%- partial('_partial/landing/section-'+id) %>
  </section>

  <% } %>
</div>
