<div class='row column landing content-block'>
  <h2><%=title%></h2>

  <% if (!static) { %>
  <section class='large-up-3'>
  <%- partial('_partial/landing/section-posts', {
    tag: id
  }) %>
  </section>

  <% } else { %>
  <section>
    <%- partial('_partial/landing/section-'+id) %>
  </section>

  <% } %>
</div>
