<section class='row items large-up-3'>
<%
var posts = site.categories
.findOne({name: 'web'})
.posts.limit(3);

posts.each((post) => {
  %>
  <div class='column item'>
    <div class='content' style='background-image: url("<%=url_for(post.permalink + post.photos[0])%>")'>
      <a href='<%= url_for(post.path) %>'>
        <div class='title'><%=post.title%></div>
      </a>
    </div>
  </div>
<%  }); %>
</section>

<% if (posts.length > 3) { %>
  <div class='row column see-more'>
    <a class='secondary hollow button' href='#'>See more <%=title%> projects</a>
  </div>
<% } %>
