<div class='row column'>
  <p>Well, as you already may know, my name is Bruno Luiz da Silva. I am enrolled on <strong>electrical engineering</strong> BUT I have interests in so many different areas besides electronics that is hard to explain it to people. I <strong>love design</strong> and understand it's importance in a project, I am really <strong>pationate with web development</strong> in general (back and frontend), specially because it is really easy to build a software using web technologies and well, <strong>entrepreneurship</strong> is on my veins. But, what I mostly worked, in the last years, was <strong>embedded systems projects</strong> - C/C++ and, recently, Java (don't kill me for that, ok?).</p>

  <p>You may be asking yourself: but Bruno (yep, you can call me by the first name), what do you know about those fields? Well, my beloved future client, in this page you can check what I have been doing since the beginning of my life. Some of my projects are in public domain and you can find them on my Github (some are not that organized, but blame the baby-university-learner Bruno).</p>

  <p>Now, if you are convinced that We, together, can get your idea out of the scratch, contact me and let's make this idea change the world.</p>

  <p>Cheers :)</p>
</div>
