<div class='row column landing-section'>
  <div class='row column section-title'>
    <h2><%=title%></h2>
  </div>
  <div class='section-content'>
    <% if (!static) { %>
    <%- partial('_partial/landing/section-posts', {
      title: title,
      id: id
    }) %>
    <% } else { %>
    <%- partial('_partial/landing/section-'+id) %>
    <% } %>
  </div>
</div>
