.project {

  h3 {
    @extend .row.column;
    font-size: 150%;
  }

  .info {
    @extend .row.column;
    font-size: 100%;
    font-weight: 300;
    margin-bottom: .3rem;

    color: $skill-base-colour;
    i {
      margin-right: .5rem;
    }

    a {
      color: $skill-base-colour;
      font-weight: 400;
      &:hover{ border-bottom: 1px dotted #ccc; }
      i { border: none }
    }
  }

  p {
    margin-top: 0;
    line-height: 1.75rem;
  }

  ul {
    @extend .row.column;
    margin-top: 1.5rem;

    li {
      list-style: none;
      display: inline-block;
      color: lighten($skill-base-colour, 5%);
      border: 1px solid $skill-base-colour;
      padding: .3rem .75rem;
      margin-bottom: .25rem;
      border-radius: 4px;
    }
  }
}
