/**
 * Basic typography style for copy text
 */
body {
  font-family: $text-font-stack;
  color: $text-color;
  // font: normal 125% / 1.4 $text-font-stack;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $title-font-stack;
  font-weight: 300;
}

p {
  line-height: 2.15rem;
  font-weight: 300;
  font-size: 110%;
}
